
.links {
    flex-direction: row; 
    margin: auto; 
    position:fixed; 
    bottom: 0px;
    width: 100%;
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(38, 86, 129);
   
}

a{
    padding: 2%;
    color: rgb(251, 127, 255);
}


.Fuszeile{
    flex-direction: row;
    position:fixed;
    bottom: 0px;
    width: 100%;
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
}

h1{
    color: darkorchid;
}
