.Fuszeile{
    flex-direction: row;
    position:fixed;
    bottom: 3%;
    width: 100%;
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(32, 39, 45);
    border-top: solid;
    border-width: 1px;
    border-radius: 70%;
    border-color: darkorchid;
}
.links {
    flex-direction: row; 
    margin: auto; 
    position: fixed; 
    bottom: 0px;
    width: 100%;
    padding: 10px;
    left:0; 
    right:0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(32, 39, 45);
}

a{
    padding: 2%;
    color: rgb(251, 127, 255);
}




h1{
    color: darkorchid;
}
